################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/Kusanagi/v15
/apps/Test/Debug
/build/VisualStudio2017/Kusanagi-(DX11)/Debug
